@import "tailwindcss";

@plugin "@iconify/tailwind4" {
  prefixes: lucide;
}

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: "Inter", sans-serif;
  --font-mono: "Roboto Mono", monospace;

  --color-dark-50: oklch(40.91% 0 0);
  --color-dark-100: oklch(35.62% 0 0);
  --color-dark-200: oklch(31.71% 0 0);
  --color-dark-300: oklch(29.72% 0 0);
  --color-dark-400: oklch(25.2% 0 0);
  --color-dark-500: oklch(23.93% 0 0);
  --color-dark-600: oklch(22.73% 0.0038 286.09);
  --color-dark-700: oklch(22.21% 0 0);
  --color-dark-800: oklch(20.9% 0 0);
  --color-dark-900: oklch(16.84% 0 0);
  --color-dark-950: oklch(13.44% 0 0);
}

html {
  scrollbar-gutter: stable both-edges;
}

.tabler--binary-tree-filled {
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M14 1a3 3 0 0 1 2.348 4.868l2 3.203Q18.665 9 19 9a3 3 0 1 1-2.347 1.132l-2-3.203a3 3 0 0 1-1.304 0l-2.001 3.203c.408.513.652 1.162.652 1.868s-.244 1.356-.653 1.868l2.002 3.203Q13.664 17 14 17a3 3 0 1 1-2.347 1.132L9.65 14.929a3 3 0 0 1-1.302 0l-2.002 3.203a3 3 0 1 1-1.696-1.06l2.002-3.204A3 3 0 0 1 9.65 9.07l2.002-3.202A3 3 0 0 1 14 1'/%3E%3C/svg%3E");
}

.i-tangled {
  --svg: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2232%22%20height%3D%2232%22%3E%3Cg%20style%3D%22display%3Ainline%22%3E%3Cpath%20d%3D%22M0-2.117h62.177v25.135H0z%22%20style%3D%22display%3Ainline%3Bfill%3Anone%3Bfill-opacity%3A1%3Bstroke-width%3A.396875%22%20transform%3D%22translate(11.01%206.9)%22%2F%3E%3Cpath%20d%3D%22M3.64%2022.787c-1.697%200-2.943-.45-3.74-1.35-.77-.9-1.156-2.094-1.156-3.585%200-.36.013-.72.038-1.08.052-.385.129-.873.232-1.464L.44%206.826h-5.089l.733-4.394h3.2c.822%200%201.439-.168%201.85-.502.437-.334.72-.938.848-1.812l.771-4.703h5.243L6.84%202.432h7.787l-.733%204.394H6.107L4.257%2017.93l.77.27%206.015-4.742%202.775%203.161-2.313%202.005c-.822.694-1.568%201.31-2.236%201.85-.668.515-1.31.952-1.927%201.311a7.406%207.406%200%200%201-1.774.733c-.59.18-1.233.27-1.927.27z%22%20%20%20%20%20%20%20aria-label%3D%22tangled.sh%22%20%20%20%20%20%20transform%3D%22translate(11.01%206.9)%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}

.i-pinksea {
  --svg: url("data:image/svg+xml,%3Csvg%20width%3D%22800%22%20height%3D%22800%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22m3%206%203.106-1.553a2%202%200%200%201%201.788%200l1.423.711a6%206%200%200%200%205.366%200l1.423-.71a2%202%200%200%201%201.788%200L21%206M3%2010.5l3.106-1.553a2%202%200%200%201%201.788%200l1.423.711a6%206%200%200%200%205.366%200l1.423-.71a2%202%200%200%201%201.788%200L21%2010.5M3%2015l3.106-1.553a2%202%200%200%201%201.788%200l1.423.711a6%206%200%200%200%205.366%200l1.423-.71a2%202%200%200%201%201.788%200L21%2015M3%2019.5l3.106-1.553a2%202%200%200%201%201.788%200l1.423.711a6%206%200%200%200%205.366%200l1.423-.71a2%202%200%200%201%201.788%200L21%2019.5%22%20stroke%3D%22%23ffe5ea%22%20stroke-width%3D%223%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3C%2Fsvg%3E");
}

.ri--bluesky {
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M12 11.388c-.906-1.761-3.372-5.044-5.665-6.662c-2.197-1.55-3.034-1.283-3.583-1.033C2.116 3.978 2 4.955 2 5.528c0 .575.315 4.709.52 5.4c.68 2.28 3.094 3.05 5.32 2.803c-3.26.483-6.157 1.67-2.36 5.898c4.178 4.325 5.726-.927 6.52-3.59c.794 2.663 1.708 7.726 6.444 3.59c3.556-3.59.977-5.415-2.283-5.898c2.225.247 4.64-.523 5.319-2.803c.205-.69.52-4.825.52-5.399c0-.575-.116-1.55-.752-1.838c-.549-.248-1.386-.517-3.583 1.033c-2.293 1.621-4.76 4.904-5.665 6.664'/%3E%3C/svg%3E");
}
